body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f06d06;
  color: white;
}
.logo-img {
  height: 100px; 
  width: 100px;  

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
}



nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}


.container {
  display: flex;
  gap: 30px;
  padding: 40px;
  max-width: 1100px;
  margin: auto;
}

.column {
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 10px;
  animation: fadeIn 0.9s ease forwards;
  opacity: 0; 
}

img {
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}


.cta-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 22px;
  background: #2a6dff;
  color:
